<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="Email" class="active">Email</a>
    <a href="URL">URL</a>
    <a href="Messages">Messages</a>
  </div>
  <!-- Text Box -->
  <textarea name="message" rows="4" class="custom-input"></textarea>
  <br />
  <input type="submit" class="btn-info" value="Predict">
</body>

</html>