<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

  <header class="header">
    <nav class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="Email">Email</a>
      <a href="URL">URL</a>
      <a href="Messages">Messages</a>
      </a>
    </nav></header>
    <p class="about">Welcome to sentinel AI.<br> A cybersecurity project for detecting malicious e-mails, websites and messages.<br>Select the required option and enter the data received and let our ML models predict if it is safe or malicious.
      <br><br> Tech stack: Python, FLask, Sklearn, Tensorflow, pandas, html, css</p>
        <footer>
        <p class="designer">Made by <a href="https://github.com/MeTuL10">Metul Prabhu</a> and <a href="https://github.com/OmbudRov">Abhinav Bhatia</a></p>
    </footer>
</body>

</html>