<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav class="topnav" id="myTopnav">
          <a href="/" class="active">Home</a>
          <a href="Email">Email</a>
          <a href="URL">URL</a>
          <a href="Messages">Messages</a>
          </a>
        </nav></header>
    <!-- <textarea name="message" rows="4" class="custom-input"></textarea> -->
    <p class="about">MESSAGE PREDICTION<br><br>
        model 1: LSTM 
        <br> Accuracy: 98.6%
        <br> model 2 : Custom NLP heuristic based model<br>
        <br> Enter the message:
      </p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="custom-input">{{form.sms}}</div>
        <!-- <input type="submit" class="btn-info" value="Predict"> -->
        <div class="inputbox">{{ form.submit(class="btn-info") }}</div>
        <div class="output">{{result1}}</div>
        <div class="output">{{result2}}</div>
        <div class="output">{{obs}}</div>
    </form>
    <footer>
        <p class="designer">Made by <a href="https://github.com/MeTuL10">Metul Prabhu</a> and <a href="https://github.com/OmbudRov">Abhinav Bhatia</a></p>
    </footer>
    </body>

</html>